*{
  padding: 0px;
  margin: 0px;
}

#outer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#heading {
  flex:0 0 100%;
  text-align: center;
  height: 50px;
  color: tomato;
  background-color: #97f79d; /* Add your desired background color here */
}



#side-panel {
  flex: 0 0 100px; /* Set a fixed width of 100px */
  align-self: stretch;
  background-color: #c5e5fa;
}

#svg-container {
  flex: 1 1 auto;
  align-self: stretch;
  background-color: #fbe6ac;
}


